 
   

body{
    font-family: Arial, Helvetica, sans-serif;
    height: 100vw;
    width: 100vh;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



